<div class="sidebar-menu">
  <div class="sidebar-header">
    <div class="logo">
      <a><%= image_tag 'logo.png', style: 'height: 80px' %></a>
    </div>
  </div>
  <div class="main-menu">
    <div class="menu-inner">
      <nav>
        <ul class="metismenu" id="menu">
          <li class="<%= "active" if controller_name == "dashboard" %>">
            <%= link_to dashboard_index_path do %>
              <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <% end %>
          </li>
          <li class="<%= "active" if controller_name == "resources" %>">
            <%= link_to resources_path do %>
              <i class="fa fa-arrows"></i> <span>Resources</span>
            <% end %>
          </li>
          <li class="<%= "active" if controller_name == "logs" %>">
            <%= link_to logs_path do %>
              <i class="fa fa-file-text"></i> <span>Logs</span>
            <% end %>
          </li>
          <li class="<%= "active" if controller_name == "contacts" %>">
            <%= link_to contacts_path do %>
              <i class="fa fa-group"></i> <span>Contacts</span>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>