<%= render 'partials/dashboards/shared/alerts/alert_item' %>

<div class="row">
  <!-- basic form start -->
  <div class="col-12 mt-3">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">log</h4>
        <%= form_with(model: log, local: true) do |form| %>
          <% if log.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

              <ul>
                <% log.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <label for="exampleInputEmail1">Response CODE</label>
            <%= form.text_field :response_code, type: 'text', class: 'form-control', placeholder: 'Enter URL', disabled: '' %>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Response BODY</label>
            <%= form.text_area :response_body, type: 'text', class: 'form-control', placeholder: 'Enter interval', rows: '30', disabled: '' %>
          </div>

          <% if log.exception %>
            <div class="form-group">
              <label for="exampleInputEmail1">Exception</label>
              <%= form.text_field :exception, type: 'text', class: 'form-control', placeholder: 'Enter interval', disabled: '' %>
            </div>
          <% end %>

          <%#= form.submit class: 'btn btn-primary mt-4 pr-4 pl-4' %>
          <%= link_to 'Back', logs_path, class: 'btn btn-info mt-4 pr-4 pl-4' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

